<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GUI Test Automation Suite" verbose="1" parallel="methods" thread-count="2">
    <!-- TestListener is also declared via @Listeners(TestListener.class) on tests.BaseTest,
         which TestNG picks up for every subclass - no need to repeat it here. -->
    <test name="The Internet - Core Scenarios">
        <classes>
            <class name="tests.FileUploadTest"/>
            <class name="tests.DynamicLoadingTest"/>
        </classes>
    </test>
</suite>
